<h1>Activation de votre compt </h1>
<p>vous avez creé un compt sur notre site, veuillez cliquer sur le lien ci dessous
pour l'activer</p>
<p><a href="{{absolute_url(path('activation', {'token':token})) }}"> Activer mon compt 
</a></p>
