

{% block body %}

    <table class="table">
    {% for comments in comment %}
        <tbody>
            
            <tr>
                <th>content</th>
                <td>{{ comments.content }}</td>
            </tr>
            
           
            
        </tbody>
        {% endfor %}

    </table>

    

    
{% endblock %}