{% extends 'base-front.html.twig' %}

{% form_theme Commentform 'bootstrap_4_layout.html.twig' %}
{% block body %}

<section class="vs-match-wrapper vs-match-layout1 newsletter-pb"
    style="padding-bottom: 280px; position: relative;top: 50px;">
    <div class="container" style="position:relative; max-height:100%;top: 200px;">
        <h1>Edit Posts</h1>

        {{ form_start(Commentform ,{'attr':{'novalidate':'novalidate'}} )  }}
        {{ form_widget(Commentform) }}
        <button type="submit" class="btn btn-success">modifier</button>
        {{ form_end(Commentform) }}

        {{ include('blog/_supprimer_form.html.twig') }}

    </div>
</section>
{% endblock %}
