{% extends 'base-front.html.twig' %}
{% block body %}
    <section class="vs-match-wrapper vs-match-layout1 newsletter-pb" style="padding-bottom: 280px; position: relative;top: 50px;">
    <div class="container" style="position:relative; max-height:100%;top: 200px;">
        {% form_theme annonceform 'bootstrap_4_layout.html.twig' %}
        {{ form_start(annonceform, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(annonceform) }}

        {{ form_end(annonceform) }}
        <button type="submit" class="btn btn-primary"><a href="{{ path('listAnnoncesF') }}">Retourner aux listes d'annonces</a></button>
    </div>
    </section>
{% endblock %}